# Ignore virtual environment directories
.venv/
venv/
# Ignore Python bytecode files
*.pyc
# Ignore cache directories
__pycache__
# Ignore environoement variables
.env
# Ignore all pycache directories and files
**/__pycache__/
**/*.pyc
# Ignore all migration files
*/migrations/0*.py



*.png
*.jpg
