{% extends "base.html" %}
{% block title %}Activation Failed{% endblock %}

{% block content %}
<div class="activation-container">
    <h1>Account Activation Failed</h1>
    <p>We're sorry, but we couldn't activate your account yet. The activation link has been sent to your mail.</p>
    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    
    <p>Please Check Your email for Activation and Sign in Again</p>
    <p>if the activation link doesn't work:</p>
    
    <form method="post" action="{% url 'resend_activation_mail' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" name="email" value="{{ user.email }}">
        </div>
        <button type="submit" class="btn btn-secondary">Resend Activation Mail</button>
    </form>
    
</div>
{% endblock %}