{% extends "base.html" %}
{% block title %}Register{% endblock %}
 
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=" {%url 'login'%} ">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'register'%}">Register</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h1>Hallo from REGISTER</h1>
{% endblock %}