{% extends "base.html" %}
{% block title %}Manage Projects{% endblock %}
{% block content %}
<h1>Your Projects</h1>
<ul>
    {% for project in user_projects %}
        <li>
            <a href="{% url 'project_detail' project.id %}">{{ project.title }}</a> - {{ project.category.name }}
        </li>
    {% endfor %}
</ul>

<h2 class="mt-5">All Projects</h2>
<ul>
    {% for project in all_projects %}
        <li>
            <a href="{% url 'project_detail' project.id %}">{{ project.title }}</a> - {{ project.category.name }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
