{% extends "base.html" %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<h1 class="text-primary">Projects</h1>
<div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
  <a href="{% url 'create_project' %}" class="btn btn-success mb-2 mb-md-0 me-md-2">Create Project</a>
  <a href="{% url 'manage_projects' %}" class="btn btn-outline-success">Manage Projects</a>
</div>

<div class="similar-projects mt-5">
  {% for project in all_projects %}
  <div class="card">
    <img src="{{ project.images.first.image.url }}" alt="{{ project.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.description|truncatechars:100 }}</p>
      <a href="{% url 'project_detail' project.id %}" class="btn">View Project</a>
    </div>
  </div>
  {% empty %}
  <p>No projects found.</p>
  {% endfor %}
</div>
{% endblock %}
